.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    /* height: 610px; */
    border: 3px solid #AD8445;
    min-height: 500px;
    margin: 10px;
    box-shadow: 4px 1px 7px 0px rgb(116 105 105);
    border-radius: 30px;
    background-color: #E4D3AB;
}

.name{
    display: flex;
    /* font-family: 'Lucida Sans'; */
    margin: 0px 12px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.name:hover{
    /* text-shadow: 13px 5px 5px #000000;
    transition: text-shadow 500ms; */
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    cursor: pointer;
}
.name h3{
    color: #9b357c;
    font-size: 1.7rem;
    
}
.dogImage{
    width: 120px;
    height: 120px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0.5px solid #7076E0;
    border-radius: 30px;
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    overflow: hidden;
}
.img{
    object-fit:cover;
    width: 110%;
    height: 100%;
}

/* .titleWeight{
    margin-bottom: 10px;

}
.titleWeight {
    font-family: 'Lucida Sans';
    color:#571764;
    font-size: 1.2rem;
} */
.numberWeight{
    font-size: 1.09rem;

}
.weight{
    display: flex;
    font-family: 'Lucida Sans';
    color: #571764;
    flex-direction: column;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 15px;
    
}

.tempTitle, .titleWeight{
    margin-bottom: 15px;
    font-family: 'Lucida Sans';
    color: #571764;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
}
.nameTemp{
    font-family: 'Lucida Sans';
    color: #571764;
    font-style: oblique;
    margin: 0px 10px 10px 10px;
}
.nameTempContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.temp{
    display: flex;
    flex-direction: column;

}



/* .name{ */
    /* position: absolute; */
    /* width: 30px;
    height: 10px;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 150;
    font-size: 20px;
    line-height: 20px;
    text-align:center;
    margin-top:unset;
    color: #7076E0;
    border: 2px solid #430C7A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.img {
    position: ; 
    width: 143px;
    height: 118px;
    display:block;
    margin-left:inherit;
    margin-right: inherit
}
.temp {
    position: absolute;
width: 43px;
height: 15px;

font-family: 'Inter';
font-style:initial;
font-weight: 100;
font-size: 14px;
line-height:8px;
or 56%

text-align: center;
text-indent: initial;
display: flex;
vertical-align: middle;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}   */